body {
  font-size: 16pt;
  color: #2193D1;
  margin-left: 5px;
}

.section {
  background: transparent url(static/zet_klein.png) no-repeat scroll 98% 2%;
  margin-top: 800px;
  margin-bottom: 800px;
  padding-top: 0px;
  height: 700px;
}

img {
  margin-left: 100px;
}
